#shopPageOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; 
  }
#shopPageInnerContainer{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-width: 95vw;
}

#filterContainer{
    border: black 2px solid;
    border-radius: 20px;
    flex: 1;
    width: 40%;
    justify-self: center; 
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding: 12px 0px;
}
#shopItemsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.shopItemsOuterContainer{
    align-self: start;
    flex: 3;
}
#pagination{
    align-self: center;
    justify-self: center;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 10px;
    padding: 0px;
    gap: 12px;
}
.paginationButtons{
    background: none;
    border: none;
    align-self: center;
    font-size: 2rem;
    border-radius: 5px;
    transition: background-color .3s;

}
.paginationButtons:hover{
    background-color: #ddd;
}
.paginationNumberButtons{
    font-size: 1.5rem;
}
.paginationButtons.active{
    background-color: #ff7b7b;
}
.shopItemCardContainer {
    background-color: #ffffff;
    border-radius: 20px;
    width: 18rem;
    margin: 20px;
    box-shadow: 0px 0px 5px black;
    transition: transform 0.3s;
    text-align: left;
    padding: 10px;
    text-wrap: wrap;

}
.shopItemCardContainer:hover {
    transform: scale(1.05);
}
.shopItemCardText {
    padding-left: 10px;
    margin: 0px;
    margin-bottom: 5px;
}
.shopItemImg {
    height: 170px;
    width: 250px;
}
.flavorText{
    font-size: 0.86rem; 
}
.shopItemFlavors {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.shopItemCardLink {
    text-decoration: none;
    color: inherit;
}
#filterHeading{
    text-align: center;
    padding: 0px;
    margin: 5px;
}
.roastOptions{
    border-radius: 20px;
    margin: 10px;
    border: 1px black solid;
}
.filterButton{
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(255, 196, 196);
  font-weight: bold;
  padding: 5px;
  font-size: 1.05rem;
  width: 70%;
  align-self: center;
  margin: 20px;
}
.cartButtons:active {
  background-color: rgb(255, 159, 159);
}
.flavorOptionsDiv{
    display: flex;
    flex-direction: column;
}
.flavorOption{
    padding-left: 5px;
}
.noProductsDiv{
    text-align: center;
    width: 50%;
}
.toggleFiltersBtn{
    border: none;
    background-color: white;
    color: black;
}
.closeFilterButton{
    align-self: center;
    justify-self: center;
    width: 90%;
    display: none;
}

@media (max-width: 950px) {
    #shopPageInnerContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .closeFilterButton{
        display: block;
    }
    #filterContainer{
        align-self: center;
        width: 80%;
    }

    .filtersContainer{
        display: none;
    }
    .filtersContainer.active{
        display: block;

    }
    .toggleFiltersBtn{

        text-decoration: underline;
    }
    .toggleFiltersBtn:hover{
        color: blue;
    }
  }